body {
    background-color: #fff;
    /* background-image: -moz-linear-gradient(0deg, #2196F3 0%, #1976D2 100%);
    background-image: -webkit-linear-gradient(0deg, #2196F3 0%, #1976D2 100%);
    background-image: -ms-linear-gradient(0deg, #2196F3 0%, #1976D2 100%);  */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  footer {
    background-color: black;
    width: 100%;
    position: fixed;
    bottom: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  footer a {
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  
  .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }
  
  main{
    height: 200px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    clear: both;
  
  }
  
  #header_container {
    /* position: relative;
    z-index: 1; */
    background-color: blue;
    /* background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%); */
    /* margin-bottom: 200px; */
    /* background-size: 100% 100%; */
    /* min-height: 100vh;
    min-width: 100vh; */
    /* width: 500px;
    height: 500px; */
    padding: 20px;
    width: 50%;
  }
  
  /* iphone */
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    header {
      /* padding: 4px 4px 4px 15px; */
      background-color: black;
      width: 100%;
      height: 70px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  
    header h1 {
      font-size: 20px;
      color: #fff;
      /* background-image: url(../images/menu/1x/outline_menu_white_24dp.png);
      background-repeat: no-repeat;
      background-position: right; */
      margin-right: 15px;
      margin-left: 15px;
      margin-top: 25px;
    }
  
    header img {
      object-fit: scale-down;
      display: flex;
    }
  
    nav {
      visibility: hidden;
    }
  }
  
  /* ipad */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  }
  
  /* laptop */
  @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    body {
      background: linear-gradient(to right, #673ab7 0%, #81d4fa 100%);
    }
    header {
      display: flex;
      flex-direction: row;
      height: 100px;
      display: inline;
      float: left;
      margin-left: 3%;
      margin-bottom: 0px;
      margin-top: 3%;
    }
  
    header h1 {
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      color: white;
      margin: 0px;
    }
  
    nav {
      width: fit-content;
      position: relative;
      overflow: auto;
      width: auto;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding-top:3%;
      padding-right: 8%;
      
    }
  
    nav a {
      padding: 12px;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      font-size: smaller;
      color: white;
      text-align: center;
      text-decoration: none;
    }
  
    /* nav a:hover {
      transform: scale(1.2);
      transition: transform 0.3s;
    } */
  
    header img {
      visibility: hidden;
      object-fit: scale-down;
      display: flex;
    }
  
    main{
        width: 80%;
        min-width: 700px;
        max-width: 1024px;
        margin-right: auto;
        margin-left: auto;
        box-shadow: 3px 3px 3px #666666;
        border: 2px solid #fff; 
        border-radius: 20px;
    }
  }
  