body {
    background: linear-gradient(to right, #673ab7 0%, #81d4fa 100%);
    /* background-image: -moz-linear-gradient(0deg, #2196F3 0%, #1976D2 100%);
    background-image: -webkit-linear-gradient(0deg, #2196F3 0%, #1976D2 100%);
    background-image: -ms-linear-gradient(0deg, #2196F3 0%, #1976D2 100%);  */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  

.q1,.q2,.q3,.q4 {
    max-width: 300px;
    text-align: center;
    font-family: arial;
    display: inline;
    float: left;
    width: 50%;
    height: 100%;
    padding-bottom: 15px;
    border: 2px solid black;
}
.contact{
    margin: 20px 0;
}
h2{
    font-size: 30px;
    text-align:center;
}
.title {
    color: black;
    font-size: 18px;
}

img{
    width: 30%;
    margin-left: 300px;
    margin-right: 200px;
    margin-top: 50px;
    border: 2px solid white;
  }

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 80%;
    font-size: 18px;
}
a{
    text-decoration: none;
    font-size: 22px;
    color: black;
}
button:hover, a:hover{
    opacity: 0.5;
}
.q{
    margin-left: 10px;
    width: 100%;
    height: 100vh;
}
nav{
    width: fit-content;
    position: relative;
    overflow: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top:3%;
    padding-right: 8%;
}
nav a{
    padding: 12px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: smaller;
    color: white;
    text-align: center;
    text-decoration: none;
}
nav a:hover{
    transform: scale(1.2);
    transition: transform 0.3s;
}

header {
    display: flex;
    flex-direction: row;
    height: 60px;
    display: inline;
    float: left;
    margin-left: 3%;
    margin-bottom: 0px;
    margin-top: 3%;
  }
  
  header h1 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    color: white;
    margin: 0px;
  }
  footer {
    background-color: black;
    width: 100%;
    /* position: fixed; */
    bottom: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-no-grow {
    display: flex;
    flex-grow: 1;
}

footer a {
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
/* iphone */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .footer-btn:hover {
        background-color: black;
        border: 2px solid aliceblue;
        color:aliceblue;
        border-radius: 5px;
        padding: 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 20px;
        font-weight: bolder;
        height: fit-content;
        width: 200px;
    }
}
/* laptop */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .footer-subscribe {
        color: #fff;
        font-family: Roboto;
        font-size: 20px;
    }
    
    .footer-btn {
        background-color: aliceblue;
        border: 2px solid black;
        color:black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        border-radius: 5px;
        padding: 10px;  
        font-size: 20px;
        height: fit-content;
        width: 200px;
        font-weight: bolder;
    }
    
    .footer-btn:hover {
        background-color: black;
        border: 2px solid aliceblue;
        color:aliceblue;
        border-radius: 5px;
        padding: 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 20px;
        font-weight: bolder;
        height: fit-content;
        width: 200px;
    }
    
    .footer-cp {
        color: aliceblue;
        text-align: center;
    }
    
    .footer-text, a {
        color: aliceblue;
        font-family: Roboto;
        text-decoration: none;
        font-size: 20px;
    }
}
    /******************************************* Feature styles *******************************************/
    .box {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    /* On mouse-over, add a deeper shadow */
    .card-base:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .card-base {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        transition: 0.5s;
        margin: 15px;
        padding: 15px;
        width: 45%;
        flex-wrap: wrap;
        flex-direction: row;
        /* justify-content: space-evenly; */
        /* flex-grow: 1; */
        border-radius: 5px;
    }
    
    .card-font-base {
        font-family: 'Comfortaa',cursive;
        font-weight: bolder;
        color: #fff;
        text-align: center;
    }
    
    .item-one {
        width: auto;
        height: auto;
        border-radius: 1%;
        display: flex;
        flex-direction: row;
        flex-grow: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .card-one-headline {
        /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
        font-size: 35px;
    }
    
    .card-one-hr {
        margin: 0px 25px;
    }
    .qualification-item {
        color: #fff;
    }
    
    .text-align {
        text-align: left;
        line-height:150%;
        color: #fff;
        margin: 15px;
        font-family: Comfortaa;
        font-size: 20px;
    }
    
    .flex-grow {
        flex-grow: 1;
    }
    
